@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-iceberg: "Iceberg", sans-serif;
}

@layer components {
  #hero .stats li p {
    @apply font-semibold font-montserrat text-neutral-300 text-nowrap;
  }

  #hero .stats li h2 {
    @apply font-iceberg font-bold text-5xl text-emerald-500;
  }

  #skills .skill {
    @apply max-w-6xl mx-auto min-h-screen p-4 flex flex-col gap-8 justify-center items-start;
  }

  #skills .skill .title {
    @apply font-iceberg font-bold text-5xl lg:text-6xl text-center text-emerald-500;
  }

  #skills .skill .desc {
    @apply py-2 max-w-4xl text-2xl text-neutral-400 text-wrap;
  }

  #skills .skill .tools {
    @apply flex flex-wrap gap-4 py-4 rounded-lg;
  }

  #skills .skill .tool, #skills .global .tool {
    @apply bg-white/70 text-neutral-800 rounded-md h-fit p-2 px-4 flex gap-2 items-center justify-center;
  }

  .tool p {
    @apply font-semibold font-montserrat;
  }

  #projects .project {
    @apply border-b border-zinc-700 py-4;
  }

  #projects .project a {
    @apply w-full h-full space-y-2 my-2;
  }

  #projects .project h2 {
    @apply text-4xl sm:text-6xl font-iceberg font-bold text-emerald-500 transition-colors duration-200 delay-100;
  }

  #projects .project p {
    @apply text-neutral-400;
  }

  #projects .project .tech-stack {
    @apply flex gap-2 sm:gap-4 flex-wrap items-center justify-start;
  }

  #projects .project .tech-stack li {
    @apply flex items-center gap-2;
  }

  #projects .project .tech-stack div {
    @apply size-2 bg-emerald-600 rounded-full;
  }


  #projects .project .tech-stack p {
    @apply text-neutral-400 text-sm sm:text-base;
  }

  #contact input, #contact textarea {
    @apply focus:border-emerald-500/50;
  }

  .head {
    @apply  py-8 md:my-0;
  }

  .head h1 {
    @apply text-6xl md:text-7xl lg:text-[85px] xl:text-[100px] py-2 font-bold font-iceberg text-center text-neutral-400;
  }

  .head p {
    @apply py-4 text-center text-xl md:text-2xl lg:text-3xl text-neutral-400 font-semibold font-montserrat;
  }
}

.no-js #hero-logo,
.no-js #hero-intro,
.no-js #tagline {
  opacity: 0;
}

.db::before,  .front-end::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  rotate: 8deg;
  background: var(--color-neutral-900);
  border-radius: 100% 10px 100% 10px;
  opacity: 0.8;
}

.back-end::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  rotate: -8deg;
  background: var(--color-neutral-900);
  border-radius: 10px 100% 10px 100%;
  opacity: 0.8;
}

/** ==============================
  Custom Scrollbar
================================== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-neutral-700) #0b0f0e; /* thumb | track */
}

/* WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
      180deg,
      #050707,
      #0b0f0e
  );
}



