@import "tailwindcss";

@layer base {}

@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-iceberg: "Iceberg", sans-serif;
}

@layer components {
  .skill-desc {
    @apply text-lg text-neutral-300;
  }

  .skill-tools ul {
    @apply grid grid-cols-4 grid-rows-4 gap-2;
  }

  .tool {
    @apply flex flex-col items-center justify-center;
  }

  .tool img {
    @apply size-12;
  }
}

.no-js #hero-logo,
.no-js #hero-intro,
.no-js #tagline {
  opacity: 0;
}
